/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 4.5fr 4.5fr 0.5fr;
    margin-left: 2em;
    margin-right: 2em;
}

.nav {
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: 1 / 4;
    border-bottom: 1px solid #000;
}

.hero {
    grid-column: 1 / 4;
    margin-top: 3em;
    text-align: end;
    background-image: url(Img/undraw_Segment_analysis_re_ocsl.svg);
    background-repeat: no-repeat;
    background-size: 50em 20em;
}

.section {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 0.5em;
}
